<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Canteen Management System
    </a>
    <ul>
      <li *ngIf="!isAuth()">
        <a routerLink="/login-page">Login</a>
      </li>
      <li *ngIf="isAuth()" class="menu-container">
          <a routerLink="/profile">{{user?.name}}</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
      </li>
      <li>
        <a routerLink="/cart-page">
          Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
